<h1>Here is my contact details</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Home Address</h3>

    <p>2000 mothinagar, 440 st, Hyd, India, 50000</p>

    <p>Phone</p>

    <p><%= number_to_phone "5555555555" %></p>

    <h3>Email</h3>

    <p>vikas@gmail.com</p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1903.3448332772484!2d78.44920790798972!3
    d17.426674497013764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90cadaae6531%3A0x3c76bd686f02650b!2s
    Mothi+Nagar%2C+Punjagutta%2C+Hyderabad%2C+Telangana+500082%2C+India!5e0!3m2!1sen!2sus!4v1543104620647"
    width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

